@font-face {
    font-family: "Ysabeau";
    src: url(../../../../public/fonts/YsabeauInfant-ExtraBold.ttf);

}

;

body {
    background-color: #f1f1f1;
    width: 100%;
    display: flex;
    overflow: hidden;

}

* {
    margin: 0;
    padding: 0;
}


// **left side
.left {
    width: 20%;
    background-color: #f1f1f1;
    height: 100vh;

    .logo {
        background-color: #ebebeb;
        border-radius: 0px;
        padding: 10px 0;
        // margin-top: 5px;
        margin-bottom: 15px;

        
        h1 {
            text-align: center;
            color: #1b002a;
            font-size: 28px;
            font-family: "Ysabeau";
            margin-right: 10px;
        }
    }

    .tache {
        display: flex;
        padding: 15px 15px 15px 20px;
        justify-content: space-between;
        align-items: center;
        color: #4f4f4f;

        .icons {
            display: flex;

            h5 {
                font-size: 14px;
                margin: 0 15px;
                width: 150px;

            }

            i {
                font-size: 14px;
                color: #5C258D;

            }

        }

        p {
            font-size: 10px;
            margin: 0;
            // padding: 5px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            border-radius: 100%;
            background-color: #eaeaea;

        }
    }

    .tache:hover {
        background-color: #ebeaea;
        cursor: pointer;
    }
}

// **right side
.Image1 {
    background-image: url(../../../../public/images/night.jpg);
    background-size: cover;
    background-position: 50% 30%;

}

.right {
    position: relative;
    width: 80%;
    height: 98vh;
    margin: auto;
    border-radius: 8px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px 40px 25px;
        color: white;
        margin-top: 20px;

        .titre {
            display: flex;
            justify-content: center;
            align-items: center;

            h5 {
                margin: 0;
                margin-left: 25px;
                font-size: 28px;
            }
        }

        i {
            font-size: 20px;

        }

        .fa-ellipsis:hover {
            cursor: pointer;
        }
    }

    .select {
        background-color: #f1f1f1;
        width: 130px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        margin-left: 55px;
    }


    .theme {
        position: absolute;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        top: 11%;
        right: 10px;
        padding: 10px 3px;

        h6 {
            font-size: 18px;
            padding: 5px 10px 5px 10px;
        }

        .ligne1 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;

            .square {
                width: 50px;
                height: 50px;
                // background-color: #f7c600;
            }

            .square:hover {
                cursor: pointer;
                border: 1px solid rgba(255, 255, 255, 0.851);
            }
        }
    }



    .tasks {
        overflow-y: auto;
        width: 90%;
        height: 68%;
        margin: auto;
        margin-top: 5px;
        padding-right: 5px;

        .new-task {
            color: #626465;
            background-color: #edf0f1;
            width: 100%;
            margin: 10px auto;
            border-radius: 10px;
            padding: 13px 15px;

            .task {
                display: flex;
                justify-content: space-between;

                .name {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        margin: 0;
                        font-size: 15px;
                        margin-left: 15px;
                        color: #292929;
                    }

                    .check {
                        border: 1px solid hsl(200, 2%, 39%);
                        border-radius: 100%;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            padding: 1px;
                            font-size: 12px;
                            color: #edf0f1;
                            margin-top: 2px;
                        }

                        i:hover {
                            color: #626465;
                        }

                    }

                    .check:hover {
                        cursor: pointer;
                        border: 1px solid #027800;

                        i {
                            color: #027800;
                        }

                    }

                }

                .ideting {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #626465;

                    i {
                        font-size: 13px;
                    }

                    .fa-trash {
                        margin-left: 8px;
                    }

                    .fa-star {
                        margin-left: 8px;

                    }

                    .fa-star:hover {
                        color: #f7c600;

                    }

                    .fa-trash:hover {
                        color: rgb(200, 3, 3);
                    }

                    i:hover {
                        cursor: pointer;
                    }
                }
            }

        }
    }






    .add {
        width: 70%;
        position: absolute;
        bottom: 20px;
        left: 15%;
        margin: auto;

        input {
            font-size: 15px;
            font-weight: 400;
            color: #626465;
            background-color: #edf0f1;
            width: 100%;
            // margin:  10px auto;
            border-radius: 10px;
            padding: 13px 15px;
            border: none;
        }

        input:focus {
            outline: none;
        }
    }

}

// ** for js
.gradi1 {
    background: linear-gradient(to left, #192980 , #2b6b82);
}

.gradi2 {
    background: linear-gradient(to right, #642b73, #c6426e);
}

.gradi3 {
    background: linear-gradient(to right, #5d4157, #a8caba);
}

.gradi4 {
    background: linear-gradient(to right, #649173, #dbd5a4)
}

.color1 {
    background-color: #5F264A;

}


.color2 {
    background-color: #2D4356;
    // color: #EAB2A0;
    // color: #A76F6F;
}

.color3 {
    background-color: #017040;
}

.color4 {
    background-color: #bc5f09;
}

.img1 {
    background-image: url(.././../../../public/images/night.jpg);
    background-size: cover;

}

.img2 {
    background-image: url(.././../../../public/images/todo3.jpg);
    background-size: cover;

}

.img3 {
    background-image: url(.././../../../public/images/todo2.jpg);
    background-size: cover;

}

.img4 {
    background-image: url(.././../../../public/images/todo1.jpg);
    background-size: cover;
}